<div style = "font-weight:bold;">
This Web Application was created by Ryan Billings and Ram Muthiah for the 15-437 Final Project.<br />
<br />
The MeetUp System allows you to create an account and select a range of time for which you want to workout.<br />
You may also select up to 3 workout types that you want to specialize in. 
<br />
<br />
For more information please contact us <a href="mailto:rbilling@andrew.cmu.edu">here</a>
</div>
