<p style = "font-weight:bold;">If you would like to move this workout to another day, you may do so here</p>
<br />
<%= render 'form' %>
<br />
<p>
  <%= link_to "Show", @day %> |
  <%= link_to "View All", days_path %>
</p>
