<p>Upper Body</p>
  <ul>
  <li>Chest</li>
  <li>Biceps</li>
  <li>Triceps</li>
  <li>Shoulders</li>
  <li>Back</li>
  </ul>
<p>Lower Body</p>
  <ul>
  <li>Gluteal</li>
  <li>Quadriceps</li>
  <li>Hamstrings</li>
  <li>Hips</li>
  <li>Calves</li>
  </ul>
<p>Core</p>
  <ul>
  <li>Abdominal</li>
  <li>Obliques</li>
  <li>Lower Back</li>
  </ul>
