<p>Name:<%= @exercise.name %></p><br />
<p>Muscle: <%= @exercise.muscle %></p><br />
<%= image_tag "#{@exercise.name}.jpg" %><br />
<br /><strong>Description:</strong>
<p><%= @exercise.description %></p>

