<p><%= @user.first_name %> <%= @user.last_name %></p>

<p>Your password has been reset to <%= @password %></p>

<p>Please log in to the system and change it ASAP.</p>

<p>Thanks,<br />The MeetUp Staff</p>
