<p> <%= @user.first_name %> <%= @user.last_name %></p>
<p> Thank you for registering an account on WorkUp. <br />
    This system will generate top of the line workouts for you and provide
    an easy interface for managing your workouts. Enjoy!</p>
<p>-The WorkUp Staff</p>
